# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

# custom files
lib/src/Secret.dart

.idea/
.dart_tool/*
.pub/

*.iml
*.lock

